<% provide :title, t(".title") %>
<div class="form-inline">
  <%= form_for @exam, url: new_exam_path, method: :get do |f| %>
    <div class="form-group">
      <%= select_tag :subject,
        options_from_collection_for_select(subject_collection, :id, :name),
        class: "form-control" %>
    </div>
    <%= submit_tag "Create exam", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="center jumbotron">
  <h1><%= t(".welcome") %></h1>
  <h2><%= t(".content") %></h2>
  <%= link_to t(".login_button"), "#", class:"btn btn-lg btn-primary" %>
</div>
