<tr>
  <td><%= exam.quiz_subject_name %></td>
  <td><%= exam.total_score %></td>
  <td><%= convert_time(exam.start_time) %></td>
  <td><%= convert_time(exam.created_at) %></td>
  <td>
    <%= convert_minutes(exam.created_at, exam.start_time).strftime("%M:%S") %>
  </td>
  <td><%= exam.user.name %></td>
  <td>
    <%= link_to t(".button_mark_exam"), admin_exam_path(exam),
      class: "btn btn-warning", method: :patch %>
    <%= link_to t(".button_detail"), admin_exam_path(exam),
      class: "btn btn-primary" %>
  </td>
</tr>
