<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(".subject") %></th>
      <th><%= t(".total_score") %></th>
      <th><%= t(".start_time") %></th>
      <th><%= t(".end_time") %></th>
      <th><%= t(".do_time") %></th>
      <th><%= t(".action") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @exams || t(".zero_exam") %>
  </tbody>
</table>
<%== pagy_bootstrap_nav(@pagy) %>
