<footer class="footer">
  <div class="row text-center bg-dark">
    <div class="col-lg-12">
      <p class="p-style-1"><%= t(".contact") %></p>
      <p class="p-style-2"><%= t(".address") %></p>
      <p class="p-style-2"><%= t(".phone") %></p>
    </div>
    <%= link_to t(".eng"), locale:"en" %>
    <%= link_to t(".vie"), locale:"vi" %>
  </div>
</footer>
